/*Genereated by fenix 0.1.0*/
*{
	box-sizing: border-box;

}
body{
	font-family:"Courier New", sans-serif;
	margin:0;
	display:grid;
	grid-template-columns: 2fr 5fr 2fr;
	grid-template-rows: row:auto;
	grid-template-areas:
		"header header header"
		"result main ."
		" result footer . ";
		background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #F3904F, #3b4371); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #F3904F, #3b4371); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #F3904F, #3b4371); /* For Firefox 3.6 to 15 */
}
 header{
	 grid-area:header;
	 height:6vh;
	 box-shadow:3px 3px 9px black;
	 background:white;
	 font-family: 'Pacifico', sans-serif;
	 text-align:center;
 }
 header > h1{
	 margin:0;
	 line-height:6vh;
	 padding:0;
	 height:6vh;
	 vertical-align: middle;
 }
#result{
		grid-area:result;
		background:white;
		box-shadow:3px 3px 9px black;

}
main{
	grid-area:main;
	min-height:90vh;
	text-align:center;
	padding:6vh 2vw;
}
#text{
	 width:100%;
	 height:40vh;
	 border:1px solid grey;
	 background:white;
	 box-shadow:3px 3px 9px black;
	 resize:none;
	 box-sizing: inherit;
	 padding:2vh 2vw;
}
footer{
	grid-area:footer;
	height:4vh;
	text-align:center;
}
table{
	width:100%;
border-collapse:collapse;

}
table tbody tr td{
	tex
}
footer > p{
	color:white;
	font-size:1em;
	text-shadow:3px 3px 9px black;
}
table tbody tr:nth-child(odd){
	background:#e1e1e1;
}
.result-item{
	text-align:center;
}
#loader{
	width:100%;
	height:3px;
	background:#0099ff;;
	-webkit-animation: loader 1s infinite;
	opacity:0;
	transition:opacity 1s linear;
}
@-webkit-keyframes loader{
	from{width:0%;}
	to{width:100%;}
}
