/*Genereated by fenix 0.1.0*/
body{
	color:white;
	font-family: 'Pacifico', sans-serif;
	margin:0;
	box-sizing:border-box;
	height:100vh;
	max-height:100vh;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #F3904F, #3b4371); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #F3904F, #3b4371); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #F3904F, #3b4371); /* For Firefox 3.6 to 15 */
}
nav{
	width:100vw;
	height:8vh;
	background:white;
	position:fixed;
	border-bottom:3px solid white;
	text-align: center;
	color:black;
	box-shadow:0 0 16px black;
}
nav h1{
  font-weight:bold;
	font-size:2.0em;
}
#input_content{
	width:100vw;
	height:100vh;
	text-align:center;
	padding-top:20vh;
	box-sizing:border-box;
}
#result_list{
  width:100vw;
  height:100vh;
  text-align:center;
  padding-top:20vh;
  box-sizing: border-box;
  display:none;
}
#resultTable{
  width:60vw;
  height:auto;
  margin:auto;
}
#resultTable td{
  text-align: left;
  font-size:2em;
  font-weight: bold;
  text-shadow: 0 0 10px black;
  font-family: "Courier New", sans-serif !important;
}
textarea{
	width:60vw;
	height:30vh;
	max-width:60vw;
	max-height:30vh;
	min-width:60vw;
	max-height:30vh;
	text-align:center;
	margin:auto;
	border:none;
	border-radius:1vh;
  box-shadow:0 0 16px black;
  text-align: left;
  padding:2vw;
  box-sizing: border-box;
  font-size:1.2em;
  overflow-y: auto;
	background:#d3d3d3;
}
button{
	box-sizing: border-box;
	width:60vw;
	height:4vh;
	color:white;
	background:#1a9275;
	border:none;
	border-radius:1vh;
	box-shadow:0 0 16px black;
	margin:auto;
	display:none;
	font-size:1.3em;
}
